*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  max-width: 1240px;
  margin: 0 auto;
}

body{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.allhead{
  position: relative;

}
a,li,button, input{
  text-decoration: none;
  list-style: none;
  outline: none;
  border: none;
}
.header{
  position: sticky;
  z-index: 999;
  top: 0;
  left: 0;
}

.header-container{
  padding: 12px 20px;
  background-color: rgb(223, 223, 223);
  border-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}
.navbar{
  display: flex;
  gap: 30px;
}
.navbar>a{
  text-transform: uppercase;
}

.login{
  padding: 12px 40px;
  border: none;
  background: rgba(19, 134, 216, 0.687);
  color: #fff;
  border-radius: 12px;
  transition: 0.7s;
  cursor: pointer;
}
.login:hover{
  transform: scale(1.04);
  transition: 0.7s;
}
/* salom */

.search-section{
  padding: 20px 0px;
  /* background: rgb(240, 240, 240); */
}
.box{
  height: 48px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 0px 0px 12px; 
  gap: 12px;
  background: #edecec;
}
.box>input{
  width: 100%;
  height: 100%;
  font-size: 20px;
  background: #edecec;

}
.box>svg{
  font-size: 28px;
}

.box:has(input:focus) {
  transition: 0.2s;
  box-shadow: 0px 0px 10px #545454;
}

.box>button{
  padding: 14px 40px;
  border-radius: 12px;
  background: rgba(19, 134, 216, 0.687);
  color: #fff;
  font-size: 18px;
}